.producer, .consumer {
    max-width: 250px;
}

.gears {
    width: 100px;
    float: right;
}

.producer .gears i {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    top: 12px;
    left: 0px;
    background: url(img/gear-hi.png);
    background-size: contain;
    /*-webkit-animation: barrelRoll infinite linear;*/
    /*-webkit-animation-duration: 10s;*/
    /*-webkit-animation-play-state: running;*/
}

.producer  .gears i:last-of-type {
    top: -6px;
    left: 32px;
    /*-webkit-animation-name: invertBarrelRoll;*/
}


.consumer .gears i {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    background: url(img/gear-i.png);
    background-size: contain;
    /*-webkit-animation: barrelRoll infinite linear;*/
    /*-webkit-animation-duration: 10s;*/
    /*-webkit-animation-play-state: running;*/
}

/*.consumer  .gears i:last-of-type {*/
    /*top: 0px;*/
    /*left: 30px;*/
    /*!*-webkit-animation-name: invertBarrelRoll;*!*/
/*}*/