<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<!--/*@thymesVar id="producer" type="com.inova.javacro.kafka.core.JavaCroProducer"*/-->
    <div th:fragment="producer(producerId, producer)" th:id="'producer-' + ${producerId}" class="producer" th:style="|border-color: ${producer.topic.topicColorHex}|" >
        <button class="delete-producer pull-right" th:attr="data-producer-id=${producerId}">X</button>
        <h2 th:text="|Producer|"></h2>

        <div class="gears">
            <i></i><i></i>
        </div>

        <h6 th:text="${producerId}"></h6>
        <span class="speed-info"></span>
        <div style="clear: both"></div>
    </div>



</body>
</html>