<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<!--/*@thymesVar id="topic" type="com.inova.javacro.kafka.core.Topic"*/-->
<div th:fragment="topic(topic)" class="topic" th:style="|border-color: ${topic.topicColorHex}|">
    <button class="delete-topic pull-right" th:attr="data-topic-name=${topic.topicName}">X</button>

    <h2 th:text="${topic.topicName}"></h2>
    <!--<p> partitions: <span th:text="${topic.getPartitionCount()}"></span></p>-->
    <div th:each="i : ${#numbers.sequence(1,topic.partitionCount)}" class="partition"></div>
</div>

</body>
</html>