<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>JavaCro 2016</title>

    <link rel="stylesheet" th:href="@{/bootstrap-3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.6/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" th:href="@{/gears.css}"/>
    <link rel="stylesheet" th:href="@{/slider/css/slider.css}"/>

    <script th:src="@{/jquery-1.12.3.min.js}"></script>


</head>
<body>


<!--/*@thymesVar id="topics" type="java.util.List<com.inova.javacro.kafka.core.Topic>"*/-->
<!--/*@thymesVar id="producers" type="java.util.Map<java.lang.String, com.inova.javacro.kafka.core.JavaCroProducer>"*/-->
<!--/*@thymesVar id="consumers" type="java.util.Map<java.lang.String, java.util.List<com.inova.javacro.kafka.core.JavaCroConsumer>>"*/-->

<div class="container">


    <h1>JavaCro 2016 Kafka Demo</h1>
    <hr/>

    <div class="row">
        <div class="col-xs-4">
            <div class="box">

                <div class="titlebar">
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#addProducerModal">
                        Add producer
                    </button>
                    <h1>PRODUCERS</h1>
                    <div class="clearboth"></div>
                </div>


                <div th:each="entry : ${producers.entrySet()}" >
                    <div th:replace="fragments/producer :: producer(${entry.key}, ${entry.value})"></div>
                </div>
            </div>

        </div>

        <div class="col-xs-4">
            <div class="box">


                <div class="titlebar">
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#addTopicModal">
                        Add topic
                    </button>
                    <h1>KAFKA</h1>
                    <div class="clearboth"></div>
                </div>


                <div th:each="topic : ${topics}" >
                    <div th:replace="fragments/topic :: topic(${topic}, ${partitionSizes}, ${topicMaxPartitionSizes.get(topic.topicName)}, ${consumerOffsets.get(topic.topicName)})"></div>
                </div>

            </div>

        </div>

        <div class="col-xs-4">
            <div class="box">

                <div class="titlebar">
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#addConsumerModal">
                        Add consumer
                    </button>
                    <h1>CONSUMERS</h1>
                    <div class="clearboth"></div>
                </div>

                <div th:each="entry : ${consumers.entrySet()}" class="consumer-group">
                    <h3 th:utext="|${entry.key}|"></h3>
                    <div th:each="con : ${entry.value}" >
                        <div th:replace="fragments/consumer :: consumer(${con.id}, ${con})"></div>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>


<div id="addTopicModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/topic/add}" class="form-horizontal" id="add-topic-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create topic</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="topicName" class="col-sm-2 control-label">Topic name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="topicName" name="topicName" placeholder="TOPIC_NAME"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="partitionCount" class="col-sm-2 control-label">Partition count</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="partitionCount" id="partitionCount" value="1"/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="addProducerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/producer/add}" class="form-horizontal" id="add-producer-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create producer</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="producerTopic" class="col-sm-2 control-label">Topic</label>
                        <div class="col-sm-10">
                            <select name="topicName" class="form-control" id="producerTopic">
                                <option th:each="topic : ${topics}" th:value="${topic.topicName}" th:text="${topic.topicName}"></option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="addConsumerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/consumer/add}" class="form-horizontal" id="add-consumer-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create consumer</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="consumerTopic" class="col-sm-6 control-label">Topic</label>
                        <div class="col-sm-6">
                            <select name="topicName" class="form-control" id="consumerTopic">
                                <option th:each="topic : ${topics}" th:value="${topic.topicName}" th:text="${topic.topicName}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-6 control-label">Group</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="group" placeholder="group name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-6 control-label">Single msg processing duration</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="msgProcDur" value="0"/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script th:inline="javascript">

    // <![CDATA[


    $(function() {

        $('.producer .speed-slider').slider()
                .on('slide', function(ev){
                    var producerId = $(this).closest(".producer").attr("data-producer-id");
                    var speed = $(this).val();

                    var url = [[@{/producer/update-speed}]] ;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: "producerId=" + producerId + "&speedMsgPerSec=" + speed
                    });
                });

        $("[data-toggle='tooltip']").tooltip({trigger: 'manual'}).tooltip('show');
    });




    $("#add-topic-form").submit(function (e) {

        var url = $(this).attr("action");
        $.ajax({
            type: "POST",
            url: url,
            data: $("#add-topic-form").serialize(), // serializes the form's elements.
            success: function (data) {
                location.reload();
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });



    $("#add-producer-form").submit(function (e) {

        var url = $(this).attr("action");
        $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(), // serializes the form's elements.
            success: function (data) {
                location.reload();
            }
        });
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });



    $("#add-consumer-form").submit(function (e) {

        var url = $(this).attr("action");

        $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(), // serializes the form's elements.
            success: function (data) {
                location.reload();
            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });

    $(".delete-topic").on("click", function (ev) {

        var url = [[@{/topic/delete}]];
        var topicName = $(this).attr("data-topic-name");

        $.ajax({
            type: "POST",
            url: url,
            data: "topicName=" + topicName, // serializes the form's elements.
            success: function (data) {
                location.reload();
            }
        });

        ev.preventDefault();

    });

    $(".delete-producer").on("click", function (ev) {

        var url = [[@{/producer/delete}]] ;
        var producerId = $(this).closest("div").attr("data-producer-id");

        $.ajax({
            type: "POST",
            url: url,
            data: "producerId=" + producerId, // serializes the form's elements.
            success: function (data) {
                location.reload();
            }
        });

        ev.preventDefault();

    });

    $(".delete-consumer").on("click", function (ev) {

        var url = [[@{/consumer/delete}]] ;
        var consumerId = $(this).attr("data-consumer-id");

        $.ajax({
            type: "POST",
            url: url,
            data: "consumerId=" + consumerId, // serializes the form's elements.
            success: function (data) {
                location.reload();
            }
        });
        ev.preventDefault();
    });


    var speeds = [[${speeds}]];

    var producerRotations = {};
    var consumerRotations = {};

    var lastSpeedUpateTime = 0;

    function getState() {

        var url = [[@{/state}]] ;
        $.ajax({
            type: "POST",
            url: url,
            success: function (data) {
                speeds = data.speeds;
                lastSpeedUpateTime = new Date().getTime();

                var topicMaxPartitionSizes = getTopicMaxPartSizes(data.partitionSizes);
                updatePartitionSizes(data.partitionSizes, topicMaxPartitionSizes);
                updateConsumerOffsets(data.consumerOffsets, topicMaxPartitionSizes);
            },
            error: function (xhr, ajaxOptions, thrownError) {
//                alert(xhr.status);
//                alert(thrownError);
                for (var pId in speeds.producerSpeeds){
                    speeds.producerSpeeds[pId] = 0;
                }
                for (var cId in speeds.consumerSpeeds){
                    speeds.consumerSpeeds[cId] = 0;
                }
            }
        });
    }

    var partitionMaxSize = [[${partitionMaxSize}]];

    function getTopicMaxPartSizes(partitionSizeMap) {
        var topicMaxPartitionSizes = {};
        for (var partitionKey in partitionSizeMap) {
            var topicKey = partitionKey.substring(0, partitionKey.lastIndexOf("_"));
            var pSize = (Math.floor(partitionSizeMap[partitionKey] / 1000000) + 1) * 1000000;
            if (!topicMaxPartitionSizes[topicKey] || topicMaxPartitionSizes[topicKey] < pSize)
                topicMaxPartitionSizes[topicKey] = pSize;
        }
        return topicMaxPartitionSizes;
    }


    function updatePartitionSizes(partitionSizeMap, topicMaxPartitionSizes){

        for (var partitionKey in partitionSizeMap) {

            var partitionMaxSize = topicMaxPartitionSizes[partitionKey.substring(0, partitionKey.lastIndexOf("_"))];

            var filledPerc =  100 * partitionSizeMap[partitionKey] / partitionMaxSize;
            filledPerc = Math.min(100, filledPerc);
            var freeSpacePerc = 100 - filledPerc;
            $("#" + partitionKey + " .partition-max-size").text((partitionMaxSize/1000000) + " M");
            $("#" + partitionKey + " .partition-size-info").text(partitionSizeMap[partitionKey] + " msg");
            $("#" + partitionKey + " .progress-bar.first").css("width", filledPerc + "%");
            $("#" + partitionKey + " .progress-bar.second").css("width", freeSpacePerc + "%");
        }
    }


    function updateConsumerOffsets(topicOffsets, topicMaxPartitionSizes){

        for(var topic in topicOffsets){
            var parititonOffsets = topicOffsets[topic];
            for(var partition in parititonOffsets){
                var partitionKey = topic + "_" + partition;
                var partitionMaxSize = topicMaxPartitionSizes[partitionKey.substring(0, partitionKey.lastIndexOf("_"))];
                var consumerOffsets = parititonOffsets[partition];

                for(var consumerId in consumerOffsets){
                    var consumerOffset = consumerOffsets[consumerId];
                    var left = 100 * consumerOffset / partitionMaxSize + "%";

                    var selector = "#" + partitionKey + " .consumer-offsets-holder .consumer-" + consumerId + "-offset";
                    if( $( selector ).length) {
                        $(selector).css("left", left);
                    }
                    else {
                        var elHTML = '<div class="tooltip top consumer-offset consumer-'+ consumerId +'-offset" style="left: ' + left + '">' +
                                '<div class="tooltip-arrow"></div>' +
                                '<div class="tooltip-inner">C' + consumerId + ' </div>' +
                                '</div>';

                        $("#" + partitionKey + " .consumer-offsets-holder").append(elHTML);
                    }
                }

                // remove c
                $("#" + partitionKey + " .consumer-offsets-holder").children('.consumer-offset').each(function(i) {
                    var oCId = parseInt($(this).find(".tooltip-inner").text().substring(1));
                    if(consumerOffsets[oCId] === undefined){
                        $(this).remove();
                    }

                });
            }
        }
    }



    setInterval(getState, 500);

    var speedmax = 20000;

    setInterval(function(){

        for (var pId in speeds.producerSpeeds){

            var pSpeed = speeds.producerSpeeds[pId];
            var pRot = producerRotations[pId];
            if (!pRot) pRot = 0;

            var rotAdd = (pSpeed/speedmax) * 15;
            pRot += rotAdd;

            producerRotations[pId] = pRot;

            var gear1Speed = "rotate(" + pRot + "deg)";
            var gear2Speed = "rotate(" + (pRot * -1) + "deg)";
            $("#producer-" + pId + " .gears i:first-child ").css('transform', gear1Speed);
            $("#producer-" + pId + " .gears i:last-child ").css('transform', gear2Speed);
            $("#producer-" + pId + " .speed-info").text(pSpeed + " m/s");

        }

        for (var cId in speeds.consumerSpeeds){

            var cSpeed = speeds.consumerSpeeds[cId];
            var cRot = consumerRotations[cId];
            if (!cRot) cRot = 0;

            var rotAdd = (cSpeed/speedmax) * 15;
            cRot += rotAdd;

            consumerRotations[cId] = cRot;

            var gear1Speed = "rotate(" + cRot + "deg)";
            var gear2Speed = "rotate(" + (cRot * -1) + "deg)";
            $("#consumer-" + cId + " .gears i:first-child ").css('transform', gear1Speed);
            $("#consumer-" + cId + " .gears i:last-child ").css('transform', gear2Speed);
            $("#consumer-" + cId + " .speed-info").text(cSpeed + " m/s");
        }

    }, 40);

    // ]]>

</script>

<script th:src="@{/bootstrap-3.3.6/js/bootstrap.min.js}"></script>
<script th:src="@{/slider/js/bootstrap-slider.js}"></script>


</body>
</html>